.theme-picker {
  /* position: absolute; */
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #f0f0f0;
  width: 500px;
  height: 125px;
  font-size: 0.7rem;
  border-radius: 1rem;


}

.theme-picker h1 {
  color: #000000;
}

.themepicker__container {
  display: flex;
  /* justify-content: center; */
  justify-content: space-around;
  /* cursor: pointer; */
}

.themepicker__container div {
  cursor: pointer;
  font-size: 2rem;
}