.todo__list {
  list-style: decimal inside;
  text-align: start;
  padding-left: 0px;
  font-size: 1.25rem;
  color: #e2c5ff;
}

.todo__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: brown; */
}

.todo__item i {
  cursor: pointer;
  user-select: none;

  border: none;
  padding-left: 1rem;
  transition: all 200ms;
  box-shadow: none;
  /* background-color: maroon; */
}

.todo__item i:hover {
  transform: none;
  box-shadow: none;
  color: #38046A;
}

.todo__list li {
  cursor: pointer;
}

.todo--completed {
  text-decoration: line-through;
  color: #b0b0b0;
}