@import url('https://fonts.googleapis.com/css2?family=Signika:wght@400;500;600;700&display=swap');


body {
  background-color: #38046A;
  font-family: 'Signika', sans-serif;
}

.App {}

.parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
}

.grid--top {
  grid-area: 1 / 1 / 2 / 2;
}

.grid--middle {
  display: inline-flex;
  grid-area: 2 / 1 / 3 / 2;
}

.flex--middle {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 100vw;
}

.grid--bottom {
  grid-area: 3 / 1 / 4 / 2;
}

.bottom--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

